# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv

# IDE/Editor
.vscode/
.idea/

# Yüklenen dosyalar
# Kullanıcıların yüklediği görsellerin repoya eklenmesini engelle
static/uploads/*

# Eğer klasörün boş kalmasını istemiyorsanız, 
# içine boş bir .gitkeep dosyası ekleyip aşağıdaki satırı yorumdan çıkarın
# !static/uploads/.gitkeep

# Anaconda
/anaconda/
/Anaconda/
.ipynb_checkpoints 